:root {
  --color-background: #e6e2cf;
  --color-subBackground: #3c3c3c;
  --color-font: #272727;
  --color-subFont: #e6e2cf;
  --color-myPrimary: #148570;
  --color-accent: #890303;

  --font-size-slideTitle: 46px;
  --font-size-sectionTitle: 40px;
  --font-size-large: 28px;
  --font-size-regular: 20px;
}
